{% extends 'base.html' %}

{% block title %}スケジュール更新 | Private Schedule {% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <form method="post">
                {% csrf_token %}

                <div class="form-group row">
                    <table class="table">
                    {% for form in formset %}
                        <tr>
                            <td>{{ form.schedule_date }}</td>
                            <td>{{ form.period.label }}</td>
                            <td>{{ form.period }}</td>
                            <td>{{ form.status.label }}</td>
                            <td>{{ form.status }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                {{ formset.management_form }}

                <div class="offset-sm-4 col-sm-8">
                    <button class="btn btn-primary" type="submit">更新</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}